.contenedor-cards{
    width: 700px;
    height: 368px;
    margin: 10px 10px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    padding: 20px;
    background-color: #032315;
    opacity: 0.9;
    box-shadow: 0 3px 13px 1px rgb(0 0 0 / 9%);
    z-index: 102;
    

}

.imagen-card {
    width: 50%;
    height: auto;
    border-radius: 50%;
    display: flex;
}

.contenedor-datos{
    text-align: justify;
    font-family: Lato, sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
    padding: 40px;
}




.name, .status, .species, .origin, .location, .episodes {
    font-family: "Edu AU VIC WA NT Dots", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: aliceblue;
    
}



strong {
    font-size: larger;
}

.buton-videos {
    background-color: #053d05; /* Verde neón que representa los portales */
    border: none;
    color: #ffffff;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Orbitron', sans-serif; /* Estilo futurista */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .buton-videos:hover {
    transform: scale(1.2); /* Aumenta ligeramente el tamaño al hacer hover */
    background-color: #00e600; /* Un verde más brillante al hacer hover */
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.5), 0 8px 25px 0 rgba(39, 100, 55, 0.3);
  }
  